openapi: 3.0.3
info:
  title: GeekNow GPT-image-2
  description: >-
    通过 GeekNow 聚合 API 调用 GPT-image-2 模型做文生图 / 图生图。
    纯 BYOK（用户自备 GeekNow API Key，付费 API，约 ¥0.04/张，需充值 credits）。
    ⚠️ 注册/控制台网址以官方 https://geeknow.ai 实时为准（本规范不内置网址之外的保证）。
  version: 1.0.0
  license:
    name: MIT
servers:
  - url: https://api.geeknow.ai/v1
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ImageResult:
      type: object
      properties:
        url:
          type: string
          description: 生成图片的公网 URL（与 b64_json 二选一）
        b64_json:
          type: string
          description: 生成图片的 base64 编码（与 url 二选一）
    GenResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ImageResult'
paths:
  /images/generations:
    post:
      operationId: textToImage
      summary: 文生图 (Text-to-Image)
      description: 根据提示词生成图片。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, prompt]
              properties:
                model:
                  type: string
                  default: gpt-image-2
                  enum: [gpt-image-2]
                prompt:
                  type: string
                  description: 图像描述（中文/英文均可）
                n:
                  type: integer
                  minimum: 1
                  maximum: 4
                  default: 1
                size:
                  type: string
                  enum: [1024x1024, 1792x1024, 1024x1792]
                  default: 1024x1024
      responses:
        '200':
          description: 生成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenResponse'
  /images/edits:
    post:
      operationId: imageToImage
      summary: 图生图 (Image-to-Image)
      description: 以参考图 + 提示词生成新图。图片字段名固定为 image。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, prompt]
              properties:
                image:
                  type: string
                  format: binary
                  description: 参考图文件（字段名固定为 image）
                prompt:
                  type: string
                model:
                  type: string
                  default: gpt-image-2
                  enum: [gpt-image-2]
                n:
                  type: integer
                  minimum: 1
                  maximum: 4
                  default: 1
                size:
                  type: string
                  enum: [1024x1024, 1792x1024, 1024x1792]
                  default: 1024x1024
      responses:
        '200':
          description: 生成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenResponse'
